# Exclude all directories by default
/*

# Re include any dotfile directory
!.*

.zsh/*/
!.zsh/plugins/
!cheatsheet/

# System-specific files
.DS_Store
.Trash
.zcompdump
.zsh_history

# Ignore local and temporary files that are not shared
.zsh/local.zsh
.local/
.cache/
.cups/
.docker/
.swiftpm/
.zsh_sessions/
*.swp
*~
._*
.lesshst
.config/iterm2
.nvm/
.tart/
.vscode/
.viminfo
.npm/

# Ignore secrets and environment files
.ssh/
*.secrets
*.keys
.env

# Files not applying to all systems
.gitconfig
.bash_history
.aider*
.bundle/
.ollama/
#.config/gh-copilot/
#.config/gh/
#.config/github-copilot/
.config/gollama/
.config/promptly/.gitignore
.config/tmuxinator
.config/github-copilot
.config/gh-copilot
.config/gh
.python_history
.wget-hsts
.zcompcache
